/*
 * RAM disk for glim_decoder filesystem tests.
 * Provides a 128 KB scratch area formatted as FAT and mounted at /TEST:
 */
/ {
	test_ramdisk: ramdisk0 {
		compatible = "zephyr,ram-disk";
		disk-name = "TEST";
		sector-size = <512>;
		sector-count = <256>;
	};
};
