#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# Use the project-local fork of ipc_radio instead of the NCS SDK copy.
# This follows the pattern in nrf/samples/nrf_rpc/entropy_nrf53/Kconfig.sysbuild:
# extend the NETCORE choice with a new option and set NETCORE_IMAGE_PATH to the
# local source directory so future modifications to the network core are possible.
if SUPPORT_NETCORE

config SUPPORT_NETCORE_RGB_SUNGLASSES_IPC_RADIO
	bool
	default y

choice NETCORE
	default NETCORE_RGB_SUNGLASSES_IPC_RADIO if SUPPORT_NETCORE_RGB_SUNGLASSES_IPC_RADIO && NETCORE_REMOTE_BOARD_TARGET_CPUCLUSTER != ""
	depends on !EXTERNAL_CONFIGURED_NETCORE

config NETCORE_RGB_SUNGLASSES_IPC_RADIO
	bool "rgb_sunglasses_ipc_radio"
	depends on SUPPORT_NETCORE_RGB_SUNGLASSES_IPC_RADIO
	help
	  Use the RGB Sunglasses project-local fork of the NCS ipc_radio
	  application as the network core image. This fork allows custom
	  IPC channels to be added between the network core and app core.

endchoice

if !NETCORE_NONE

config NETCORE_IMAGE_NAME
	default "ipc_radio" if NETCORE_RGB_SUNGLASSES_IPC_RADIO

config NETCORE_IMAGE_PATH
	default "${APP_DIR}/ipc_radio" if NETCORE_RGB_SUNGLASSES_IPC_RADIO

endif # !NETCORE_NONE

endif # SUPPORT_NETCORE

source "share/sysbuild/Kconfig"
