config TPS25750
    bool "Enable the TPS25750 driver"
    depends on I2C

config TPS25750_INIT_PRIORITY
    int "TPS25750 device initialization priority"
    default 51

config TPS25750_PATCH_ON_STARTUP
    bool "Download the TPS25750 patch file on startup"
    default y