config BOARD_RGB_SUNGLASSES_PROTO0
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_RGB_SUNGLASSES_PROTO0_NRF5340_CPUAPP
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_RGB_SUNGLASSES_PROTO0_NRF5340_CPUAPP_NS
	select SOC_NRF5340_CPUNET_QKAA if BOARD_RGB_SUNGLASSES_PROTO0_NRF5340_CPUNET